@import '/src/variables.scss';

.button {
    background: $indigo;
    color: white;
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background: $purple;
}